# NYSE ML Project Data Cleaning and Wrangling
In this notebook I will clean and wrangle the data from the data files I will be using for this project. As an output there will be a one file to use for the machine learning model analysis.

In [1]:
import pandas as pd
import numpy as np

In [2]:
close_2018_df = pd.read_csv("./data/2018-close-price.tsv", delimiter="\t")
price_df = pd.read_csv("./data/prices-split-adjusted.csv")
fundamentals_df = pd.read_csv("./data/fundamentals.csv")
securities_df = pd.read_csv("./data/securities.csv")

## Clean the Data
### 2018-close-price

In [3]:
close_2018_df.shape

(999, 2)

In [4]:
close_2018_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 999 entries, 0 to 998
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Symbol      501 non-null    object
 1   2018 Close  436 non-null    float64
dtypes: float64(1), object(1)
memory usage: 15.7+ KB

In [5]:
# Remove empty rows
close_2018_df = close_2018_df[close_2018_df['Symbol'].notna()]
close_2018_df.shape

(501, 2)

In [6]:
# Remove any tickers without a closing price in 2018
close_2018_df = close_2018_df[close_2018_df['2018 Close'].notna()]
close_2018_df.shape

(436, 2)

In [7]:
# Check if there are any duplicate tickers
len(close_2018_df['Symbol'].unique())

436

### price-split-adjusted

In [8]:
price_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 851264 entries, 0 to 851263
Data columns (total 7 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   date    851264 non-null  object
 1   symbol  851264 non-null  object
 2   open    851264 non-null  float64
 3   close   851264 non-null  float64
 4   low     851264 non-null  float64
 5   high    851264 non-null  float64
 6   volume  851264 non-null  int64
dtypes: float64(4), int64(1), object(2)
memory usage: 45.5+ MB

In [9]:
price_df.describe().T

,count,mean,std,min,25%,50%,75%,max
open,851264.0,6.499362e+01,7.520389e+01,1.66,3.127000e+01,4.846000e+01,7.512000e+01,1.584440e+03
close,851264.0,6.501191e+01,7.520122e+01,1.59,3.129278e+01,4.848000e+01,7.514000e+01,1.578130e+03
low,851264.0,6.433654e+01,7.445952e+01,1.50,3.094000e+01,4.797000e+01,7.440000e+01,1.549940e+03
high,851264.0,6.563975e+01,7.590686e+01,1.81,3.162000e+01,4.896000e+01,7.585000e+01,1.600930e+03
volume,851264.0,5.415113e+06,1.249468e+07,0.00,1.221500e+06,2.476250e+06,5.222500e+06,8.596434e+08

In [10]:
price_df.head()

        date symbol        open       close         low        high   volume
0   1/5/2016   WLTW  123.430000  125.839996  122.309998  126.250000  2163600
1   1/6/2016   WLTW  125.239998  119.980003  119.940002  125.540001  2386400
2   1/7/2016   WLTW  116.379997  114.949997  114.930000  119.739998  2489500
3   1/8/2016   WLTW  115.480003  116.620003  113.500000  117.440002  2006300
4  1/11/2016   WLTW  117.010002  114.970001  114.089996  117.330002  1408600

In [11]:
# Convert date column to datetime.
price_df['date'] = pd.to_datetime(price_df['date'], format="%m/%d/%Y")
price_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 851264 entries, 0 to 851263
Data columns (total 7 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   date    851264 non-null  datetime64[ns]
 1   symbol  851264 non-null  object
 2   open    851264 non-null  float64
 3   close   851264 non-null  float64
 4   low     851264 non-null  float64
 5   high    851264 non-null  float64
 6   volume  851264 non-null  int64
dtypes: datetime64[ns](1), float64(4), int64(1), object(1)
memory usage: 45.5+ MB

In [12]:
price_df.describe().T

,count,mean,min,25%,50%,75%,max,std
date,851264,2013-07-21 02:56:29.294037760,2010-01-04 00:00:00,2011-10-19 00:00:00,2013-08-02 00:00:00,2015-04-24 00:00:00,2016-12-30 00:00:00,NaN
open,851264.0,64.993618,1.66,31.27,48.459999,75.120003,1584.439941,75.203893
close,851264.0,65.011913,1.59,31.292776,48.48,75.139999,1578.130005,75.201216
low,851264.0,64.336541,1.5,30.940001,47.970001,74.400002,1549.939941,74.459518
high,851264.0,65.639748,1.81,31.620001,48.959999,75.849998,1600.930054,75.906861
volume,851264.0,5415112.640027,0.0,1221500.0,2476250.0,5222500.0,859643400.0,12494681.433084

In [13]:
# Drop all dates before 01/01/2013.
price_df = price_df[price_df['date'] > '12/31/2012']
price_df.describe().T

,count,mean,min,25%,50%,75%,max,std
date,497186,2015-01-06 05:07:56.253152512,2013-01-02 00:00:00,2014-01-07 00:00:00,2015-01-09 00:00:00,2016-01-07 00:00:00,2016-12-30 00:00:00,NaN
open,497186.0,77.618982,1.66,38.09,58.48,87.639999,1584.439941,88.696438
close,497186.0,77.638583,1.59,38.099998,58.509998,87.669998,1578.130005,88.68694
low,497186.0,76.873468,1.5,37.709999,57.939999,86.860001,1549.939941,87.825628
high,497186.0,78.354314,1.81,38.48,59.029999,88.43,1600.930054,89.509429
volume,497186.0,4576383.987884,0.0,1134000.0,2223500.0,4581900.0,616620500.0,9137975.550856

In [14]:
# Remove all stocks that are not in 2018 data.
symbols_2018 = close_2018_df['Symbol']
price_df = price_df[price_df['symbol'].isin(symbols_2018)]
price_df.shape

(433302, 7)

### fundamentals

In [15]:
fundamentals_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1781 entries, 0 to 1780
Data columns (total 79 columns):
 #   Column                                               Non-Null Count  Dtype
---  ------                                               --------------  -----
 0   Unnamed: 0                                           1781 non-null   int64
 1   Ticker Symbol                                        1781 non-null   object
 2   Period Ending                                        1781 non-null   object
 3   Accounts Payable                                     1781 non-null   float64
 4   Accounts Receivable                                  1781 non-null   int64
 5   Add'l income/expense items                           1781 non-null   int64
 6   After Tax ROE                                        1781 non-null   int64
 7   Capital Expenditures                                 1781 non-null   int64
 8   Capital Surplus                                      1781 non-null   float64
 9   Cash Ratio                                           1482 non-null   float64
 10  Cash and Cash Equivalents                            1781 non-null   float64
 11  Changes in Inventories                               1781 non-null   int64
 12  Common Stocks                                        1781 non-null   float64
 13  Cost of Revenue                                      1781 non-null   float64
 14  Current Ratio                                        1482 non-null   float64
 15  Deferred Asset Charges                               1781 non-null   int64
 16  Deferred Liability Charges                           1781 non-null   int64
 17  Depreciation                                         1781 non-null   int64
 18  Earnings Before Interest and Tax                     1781 non-null   int64
 19  Earnings Before Tax                                  1781 non-null   int64
 20  Effect of Exchange Rate                              1781 non-null   int64
 21  Equity Earnings/Loss Unconsolidated Subsidiary       1781 non-null   int64
 22  Fixed Assets                                         1781 non-null   float64
 23  Goodwill                                             1781 non-null   float64
 24  Gross Margin                                         1781 non-null   int64
 25  Gross Profit                                         1781 non-null   float64
 26  Income Tax                                           1781 non-null   int64
 27  Intangible Assets                                    1781 non-null   float64
 28  Interest Expense                                     1781 non-null   int64
 29  Inventory                                            1781 non-null   int64
 30  Investments                                          1781 non-null   float64
 31  Liabilities                                          1781 non-null   int64
 32  Long-Term Debt                                       1781 non-null   float64
 33  Long-Term Investments                                1781 non-null   float64
 34  Minority Interest                                    1781 non-null   int64
 35  Misc. Stocks                                         1781 non-null   int64
 36  Net Borrowings                                       1781 non-null   int64
 37  Net Cash Flow                                        1781 non-null   int64
 38  Net Cash Flow-Operating                              1781 non-null   float64
 39  Net Cash Flows-Financing                             1781 non-null   float64
 40  Net Cash Flows-Investing                             1781 non-null   float64
 41  Net Income                                           1781 non-null   int64
 42  Net Income Adjustments                               1781 non-null   int64
 43  Net Income Applicable to Common Shareholders         1781 non-null   int64
 44  Net Income-Cont. Operations                          1781 non-null   int64
 45  Net Receivables                                      1781 non-null   int64
 46  Non-Recurring Items                                  1781 non-null   int64
 47  Operating Income                                     1781 non-null   int64
 48  Operating Margin                                     1781 non-null   int64
 49  Other Assets                                         1781 non-null   float64
 50  Other Current Assets                                 1781 non-null   int64
 51  Other Current Liabilities                            1781 non-null   float64
 52  Other Equity                                         1781 non-null   int64
 53  Other Financing Activities                           1781 non-null   int64
 54  Other Investing Activities                           1781 non-null   int64
 55  Other Liabilities                                    1781 non-null   float64
 56  Other Operating Activities                           1781 non-null   int64
 57  Other Operating Items                                1781 non-null   int64
 58  Pre-Tax Margin                                       1781 non-null   int64
 59  Pre-Tax ROE                                          1781 non-null   int64
 60  Profit Margin                                        1781 non-null   int64
 61  Quick Ratio                                          1482 non-null   float64
 62  Research and Development                             1781 non-null   int64
 63  Retained Earnings                                    1781 non-null   float64
 64  Sale and Purchase of Stock                           1781 non-null   int64
 65  Sales, General and Admin.                            1781 non-null   int64
 66  Short-Term Debt / Current Portion of Long-Term Debt  1781 non-null   float64
 67  Short-Term Investments                               1781 non-null   float64
 68  Total Assets                                         1781 non-null   float64
 69  Total Current Assets                                 1781 non-null   float64
 70  Total Current Liabilities                            1781 non-null   int64
 71  Total Equity                                         1781 non-null   float64
 72  Total Liabilities                                    1781 non-null   float64
 73  Total Liabilities & Equity                           1781 non-null   float64
 74  Total Revenue                                        1781 non-null   float64
 75  Treasury Stock                                       1781 non-null   float64
 76  For Year                                             1608 non-null   float64
 77  Earnings Per Share                                   1562 non-null   float64
 78  Estimated Shares Outstanding                         1562 non-null   float64
dtypes: float64(34), int64(43), object(2)
memory usage: 1.1+ MB

In [16]:
fundamentals_df.head(10)

,Unnamed: 0,Ticker Symbol,Period Ending,Accounts Payable,Accounts Receivable,Add'l income/expense items,After Tax ROE,Capital Expenditures,Capital Surplus,Cash Ratio,...,Total Current Assets,Total Current Liabilities,Total Equity,Total Liabilities,Total Liabilities & Equity,Total Revenue,Treasury Stock,For Year,Earnings Per Share,Estimated Shares Outstanding
0,0,AAL,12/31/2012,3.068000e+09,-222000000,-1961000000,23,-1888000000,4.695000e+09,53.0,...,7.072000e+09,9011000000,-7.987000e+09,2.489100e+10,1.690400e+10,2.485500e+10,-367000000.0,2012.0,-5.60,3.350000e+08
1,1,AAL,12/31/2013,4.975000e+09,-93000000,-2723000000,67,-3114000000,1.059200e+10,75.0,...,1.432300e+10,13806000000,-2.731000e+09,4.500900e+10,4.227800e+10,2.674300e+10,0.0,2013.0,-11.25,1.630222e+08
2,2,AAL,12/31/2014,4.668000e+09,-160000000,-150000000,143,-5311000000,1.513500e+10,60.0,...,1.175000e+10,13404000000,2.021000e+09,4.120400e+10,4.322500e+10,4.265000e+10,0.0,2014.0,4.02,7.169154e+08
3,3,AAL,12/31/2015,5.102000e+09,352000000,-708000000,135,-6151000000,1.159100e+10,51.0,...,9.985000e+09,13605000000,5.635000e+09,4.278000e+10,4.841500e+10,4.099000e+10,0.0,2015.0,11.39,6.681299e+08
4,4,AAP,12/29/2012,2.409453e+09,-89482000,600000,32,-271182000,5.202150e+08,23.0,...,3.184200e+09,2559638000,1.210694e+09,3.403120e+09,4.613814e+09,6.205003e+09,-27095000.0,2012.0,5.29,7.328355e+07
5,5,AAP,12/28/2013,2.609239e+09,-32428000,2698000,26,-195757000,5.312930e+08,40.0,...,3.989384e+09,2764785000,1.516205e+09,4.048569e+09,5.564774e+09,6.493814e+09,-107890000.0,2013.0,5.36,7.308918e+07
6,6,AAP,1/3/2015,3.616038e+09,-48209000,3092000,25,-228446000,5.629450e+08,3.0,...,4.741040e+09,3654416000,2.002912e+09,5.959446e+09,7.962358e+09,9.843861e+09,-113044000.0,2014.0,6.75,7.315926e+07
7,7,AAP,1/2/2016,3.757085e+09,-21476000,-7484000,19,-234747000,6.033320e+08,2.0,...,4.940746e+09,3797477000,2.460648e+09,5.673917e+09,8.134565e+09,9.737018e+09,-119709000.0,2015.0,6.45,7.339504e+07
8,8,AAPL,9/28/2013,3.622300e+10,-1949000000,1156000000,30,-8165000000,0.000000e+00,93.0,...,7.328600e+10,43658000000,1.240000e+11,8.345100e+10,2.070000e+11,1.710000e+11,0.0,2013.0,40.03,9.252311e+08
9,9,AAPL,9/27/2014,4.864900e+10,-6452000000,980000000,35,-9571000000,0.000000e+00,40.0,...,6.853100e+10,63448000000,1.120000e+11,1.200000e+11,2.320000e+11,1.830000e+11,0.0,2014.0,6.49,6.087827e+09

In [17]:
fundamentals_df.drop(columns=['Unnamed: 0'], inplace=True)
fundamentals_df.head()

,Ticker Symbol,Period Ending,Accounts Payable,Accounts Receivable,Add'l income/expense items,After Tax ROE,Capital Expenditures,Capital Surplus,Cash Ratio,Cash and Cash Equivalents,...,Total Current Assets,Total Current Liabilities,Total Equity,Total Liabilities,Total Liabilities & Equity,Total Revenue,Treasury Stock,For Year,Earnings Per Share,Estimated Shares Outstanding
0,AAL,12/31/2012,3.068000e+09,-222000000,-1961000000,23,-1888000000,4.695000e+09,53.0,1.330000e+09,...,7.072000e+09,9011000000,-7.987000e+09,2.489100e+10,1.690400e+10,2.485500e+10,-367000000.0,2012.0,-5.60,3.350000e+08
1,AAL,12/31/2013,4.975000e+09,-93000000,-2723000000,67,-3114000000,1.059200e+10,75.0,2.175000e+09,...,1.432300e+10,13806000000,-2.731000e+09,4.500900e+10,4.227800e+10,2.674300e+10,0.0,2013.0,-11.25,1.630222e+08
2,AAL,12/31/2014,4.668000e+09,-160000000,-150000000,143,-5311000000,1.513500e+10,60.0,1.768000e+09,...,1.175000e+10,13404000000,2.021000e+09,4.120400e+10,4.322500e+10,4.265000e+10,0.0,2014.0,4.02,7.169154e+08
3,AAL,12/31/2015,5.102000e+09,352000000,-708000000,135,-6151000000,1.159100e+10,51.0,1.085000e+09,...,9.985000e+09,13605000000,5.635000e+09,4.278000e+10,4.841500e+10,4.099000e+10,0.0,2015.0,11.39,6.681299e+08
4,AAP,12/29/2012,2.409453e+09,-89482000,600000,32,-271182000,5.202150e+08,23.0,5.981110e+08,...,3.184200e+09,2559638000,1.210694e+09,3.403120e+09,4.613814e+09,6.205003e+09,-27095000.0,2012.0,5.29,7.328355e+07

In [18]:
# Convert Period Ending column to datetime. 
fundamentals_df['Period Ending'] = pd.to_datetime(fundamentals_df['Period Ending'], format="%m/%d/%Y")
fundamentals_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1781 entries, 0 to 1780
Data columns (total 78 columns):
 #   Column                                               Non-Null Count  Dtype
---  ------                                               --------------  -----
 0   Ticker Symbol                                        1781 non-null   object
 1   Period Ending                                        1781 non-null   datetime64[ns]
 2   Accounts Payable                                     1781 non-null   float64
 3   Accounts Receivable                                  1781 non-null   int64
 4   Add'l income/expense items                           1781 non-null   int64
 5   After Tax ROE                                        1781 non-null   int64
 6   Capital Expenditures                                 1781 non-null   int64
 7   Capital Surplus                                      1781 non-null   float64
 8   Cash Ratio                                           1482 non-null   float64
 9   Cash and Cash Equivalents                            1781 non-null   float64
 10  Changes in Inventories                               1781 non-null   int64
 11  Common Stocks                                        1781 non-null   float64
 12  Cost of Revenue                                      1781 non-null   float64
 13  Current Ratio                                        1482 non-null   float64
 14  Deferred Asset Charges                               1781 non-null   int64
 15  Deferred Liability Charges                           1781 non-null   int64
 16  Depreciation                                         1781 non-null   int64
 17  Earnings Before Interest and Tax                     1781 non-null   int64
 18  Earnings Before Tax                                  1781 non-null   int64
 19  Effect of Exchange Rate                              1781 non-null   int64
 20  Equity Earnings/Loss Unconsolidated Subsidiary       1781 non-null   int64
 21  Fixed Assets                                         1781 non-null   float64
 22  Goodwill                                             1781 non-null   float64
 23  Gross Margin                                         1781 non-null   int64
 24  Gross Profit                                         1781 non-null   float64
 25  Income Tax                                           1781 non-null   int64
 26  Intangible Assets                                    1781 non-null   float64
 27  Interest Expense                                     1781 non-null   int64
 28  Inventory                                            1781 non-null   int64
 29  Investments                                          1781 non-null   float64
 30  Liabilities                                          1781 non-null   int64
 31  Long-Term Debt                                       1781 non-null   float64
 32  Long-Term Investments                                1781 non-null   float64
 33  Minority Interest                                    1781 non-null   int64
 34  Misc. Stocks                                         1781 non-null   int64
 35  Net Borrowings                                       1781 non-null   int64
 36  Net Cash Flow                                        1781 non-null   int64
 37  Net Cash Flow-Operating                              1781 non-null   float64
 38  Net Cash Flows-Financing                             1781 non-null   float64
 39  Net Cash Flows-Investing                             1781 non-null   float64
 40  Net Income                                           1781 non-null   int64
 41  Net Income Adjustments                               1781 non-null   int64
 42  Net Income Applicable to Common Shareholders         1781 non-null   int64
 43  Net Income-Cont. Operations                          1781 non-null   int64
 44  Net Receivables                                      1781 non-null   int64
 45  Non-Recurring Items                                  1781 non-null   int64
 46  Operating Income                                     1781 non-null   int64
 47  Operating Margin                                     1781 non-null   int64
 48  Other Assets                                         1781 non-null   float64
 49  Other Current Assets                                 1781 non-null   int64
 50  Other Current Liabilities                            1781 non-null   float64
 51  Other Equity                                         1781 non-null   int64
 52  Other Financing Activities                           1781 non-null   int64
 53  Other Investing Activities                           1781 non-null   int64
 54  Other Liabilities                                    1781 non-null   float64
 55  Other Operating Activities                           1781 non-null   int64
 56  Other Operating Items                                1781 non-null   int64
 57  Pre-Tax Margin                                       1781 non-null   int64
 58  Pre-Tax ROE                                          1781 non-null   int64
 59  Profit Margin                                        1781 non-null   int64
 60  Quick Ratio                                          1482 non-null   float64
 61  Research and Development                             1781 non-null   int64
 62  Retained Earnings                                    1781 non-null   float64
 63  Sale and Purchase of Stock                           1781 non-null   int64
 64  Sales, General and Admin.                            1781 non-null   int64
 65  Short-Term Debt / Current Portion of Long-Term Debt  1781 non-null   float64
 66  Short-Term Investments                               1781 non-null   float64
 67  Total Assets                                         1781 non-null   float64
 68  Total Current Assets                                 1781 non-null   float64
 69  Total Current Liabilities                            1781 non-null   int64
 70  Total Equity                                         1781 non-null   float64
 71  Total Liabilities                                    1781 non-null   float64
 72  Total Liabilities & Equity                           1781 non-null   float64
 73  Total Revenue                                        1781 non-null   float64
 74  Treasury Stock                                       1781 non-null   float64
 75  For Year                                             1608 non-null   float64
 76  Earnings Per Share                                   1562 non-null   float64
 77  Estimated Shares Outstanding                         1562 non-null   float64
dtypes: datetime64[ns](1), float64(34), int64(42), object(1)
memory usage: 1.1+ MB

In [19]:
fundamentals_df.describe()

,Period Ending,Accounts Payable,Accounts Receivable,Add'l income/expense items,After Tax ROE,Capital Expenditures,Capital Surplus,Cash Ratio,Cash and Cash Equivalents,Changes in Inventories,...,Total Current Assets,Total Current Liabilities,Total Equity,Total Liabilities,Total Liabilities & Equity,Total Revenue,Treasury Stock,For Year,Earnings Per Share,Estimated Shares Outstanding
count,1781,1.781000e+03,1.781000e+03,1.781000e+03,1781.000000,1.781000e+03,1.781000e+03,1482.000000,1.781000e+03,1.781000e+03,...,1.781000e+03,1.781000e+03,1.781000e+03,1.781000e+03,1.781000e+03,1.781000e+03,1.781000e+03,1608.000000,1562.000000,1.562000e+03
mean,2014-10-26 21:41:44.435710208,4.673264e+09,-6.353484e+07,6.908940e+07,43.601348,-1.251925e+09,5.351306e+09,74.457490,8.521031e+09,-6.787749e+07,...,6.726624e+09,4.699919e+09,1.188869e+10,4.380058e+10,5.568105e+10,2.029194e+10,-3.951930e+09,2013.305348,3.353707,6.024244e+08
min,2003-06-30 00:00:00,0.000000e+00,-6.452000e+09,-6.768000e+09,0.000000,-3.798500e+10,-7.215000e+08,0.000000,2.100000e+04,-5.562000e+09,...,0.000000e+00,0.000000e+00,-1.324400e+10,2.577000e+06,2.705000e+06,1.514000e+06,-2.300000e+11,1215.000000,-61.200000,-1.513945e+09
25%,2013-12-31 00:00:00,5.160000e+08,-1.040000e+08,-2.638000e+06,10.000000,-1.151200e+09,4.791000e+08,17.000000,3.088000e+08,-5.400000e+07,...,1.044178e+09,5.640760e+08,2.201492e+09,3.843300e+09,6.552689e+09,3.714000e+09,-3.040895e+09,2013.000000,1.590000,1.493318e+08
50%,2014-12-31 00:00:00,1.334000e+09,-1.830000e+07,2.000000e+06,16.000000,-3.580000e+08,1.997080e+09,41.000000,8.625900e+08,0.000000e+00,...,2.747200e+09,1.701500e+09,4.983000e+09,9.141000e+09,1.517000e+10,8.023200e+09,-3.068350e+08,2014.000000,2.810000,2.929409e+08
75%,2015-12-31 00:00:00,3.246000e+09,7.816000e+06,3.359200e+07,26.000000,-1.291000e+08,5.735000e+09,90.000000,2.310000e+09,0.000000e+00,...,6.162000e+09,4.381000e+09,1.080900e+10,2.389700e+10,3.599710e+10,1.748600e+10,0.000000e+00,2015.000000,4.590000,5.492163e+08
max,2017-01-01 00:00:00,2.070000e+11,2.266400e+10,1.416200e+10,5789.000000,5.000000e+06,1.080000e+11,1041.000000,7.280000e+11,3.755000e+09,...,1.400000e+11,9.028100e+10,2.560000e+11,2.340000e+12,2.570000e+12,4.860000e+11,0.000000e+00,2016.000000,50.090000,1.610769e+10
std,NaN,1.405804e+10,7.562794e+08,6.848143e+08,233.924028,2.979963e+09,1.133548e+10,102.298374,5.432397e+10,3.903369e+08,...,1.345119e+10,9.538832e+09,2.584486e+10,1.816698e+11,2.032623e+11,4.095824e+10,1.407640e+10,19.953135,4.695896,1.142585e+09

In [20]:
# Drop all dates before 01/01/2013.
fundamentals_df = fundamentals_df[fundamentals_df['Period Ending'] > '12/31/2012']
fundamentals_df.describe()

,Period Ending,Accounts Payable,Accounts Receivable,Add'l income/expense items,After Tax ROE,Capital Expenditures,Capital Surplus,Cash Ratio,Cash and Cash Equivalents,Changes in Inventories,...,Total Current Assets,Total Current Liabilities,Total Equity,Total Liabilities,Total Liabilities & Equity,Total Revenue,Treasury Stock,For Year,Earnings Per Share,Estimated Shares Outstanding
count,1541,1.541000e+03,1.541000e+03,1.541000e+03,1541.000000,1.541000e+03,1.541000e+03,1300.000000,1.541000e+03,1.541000e+03,...,1.541000e+03,1.541000e+03,1.541000e+03,1.541000e+03,1.541000e+03,1.541000e+03,1.541000e+03,1382.000000,1341.000000,1.341000e+03
mean,2015-02-14 23:01:07.748215296,4.632990e+09,-6.956130e+07,6.833450e+07,39.482154,-1.236144e+09,5.159696e+09,76.303846,7.987586e+09,-7.217946e+07,...,7.085534e+09,4.914094e+09,1.166253e+10,4.092421e+10,5.258881e+10,2.070477e+10,-4.001068e+09,2013.518813,3.428569,5.941189e+08
min,2013-01-27 00:00:00,0.000000e+00,-6.452000e+09,-4.577000e+09,0.000000,-3.798500e+10,-7.215000e+08,0.000000,2.100000e+04,-5.562000e+09,...,0.000000e+00,0.000000e+00,-1.324400e+10,2.320000e+08,9.203120e+08,5.206130e+08,-2.300000e+11,1215.000000,-61.200000,-1.513945e+09
25%,2013-12-31 00:00:00,5.429000e+08,-1.110000e+08,-3.000000e+06,10.000000,-1.151200e+09,4.822840e+08,18.000000,3.300000e+08,-6.200000e+07,...,1.230300e+09,6.104940e+08,2.241000e+09,3.899000e+09,6.720998e+09,3.910865e+09,-3.292000e+09,2013.000000,1.640000,1.501209e+08
50%,2014-12-31 00:00:00,1.368922e+09,-2.100000e+07,2.200000e+06,17.000000,-3.621320e+08,1.995484e+09,42.000000,8.880000e+08,0.000000e+00,...,2.878000e+09,1.824000e+09,4.999672e+09,9.087000e+09,1.525100e+10,8.292000e+09,-3.269960e+08,2014.000000,2.900000,2.935897e+08
75%,2015-12-31 00:00:00,3.301792e+09,6.760000e+06,3.400000e+07,26.000000,-1.342000e+08,5.658200e+09,92.000000,2.356000e+09,0.000000e+00,...,6.452000e+09,4.527400e+09,1.080700e+10,2.355800e+10,3.574200e+10,1.790000e+10,0.000000e+00,2015.000000,4.660000,5.530864e+08
max,2017-01-01 00:00:00,2.070000e+11,2.266400e+10,1.161300e+10,5789.000000,0.000000e+00,1.080000e+11,1041.000000,7.280000e+11,3.755000e+09,...,1.400000e+11,9.028100e+10,2.560000e+11,2.340000e+12,2.570000e+12,4.860000e+11,0.000000e+00,2016.000000,50.090000,1.342500e+10
std,NaN,1.338157e+10,7.894737e+08,5.717630e+08,205.611692,2.858883e+09,1.079127e+10,104.952297,5.257775e+10,4.126165e+08,...,1.399466e+10,9.865393e+09,2.501902e+10,1.703124e+11,1.911317e+11,4.110200e+10,1.377149e+10,21.516425,4.848121,1.070415e+09

In [21]:
# Remove all stocks that are not in 2018 data.
fundamentals_df = fundamentals_df[fundamentals_df['Ticker Symbol'].isin(symbols_2018)]
fundamentals_df.shape

(1341, 78)

In [22]:
# fundamentals_min_date_df = pd.DataFrame(columns=['symbol', 'min date'])
fundamentals_min_date_df = fundamentals_df.sort_values('Period Ending').drop_duplicates('Ticker Symbol')
fundamentals_min_date_df.shape

(389, 78)

In [23]:
fundamentals_min_date_df[fundamentals_min_date_df['Period Ending'] < '1/1/2014'].shape

(383, 78)

In [24]:
symbols_fundamentals = fundamentals_min_date_df['Ticker Symbol']
fundamentals_df = fundamentals_df[fundamentals_df['Ticker Symbol'].isin(symbols_fundamentals)]
price_df = price_df[price_df['symbol'].isin(symbols_fundamentals)]
close_2018_df = close_2018_df[close_2018_df['Symbol'].isin(symbols_fundamentals)]
print(f'fundamentals shape: {fundamentals_df.shape}')
print(f'price shape: {price_df.shape}')
print(f'close 2018 shape: {close_2018_df.shape}')

fundamentals shape: (1341, 78)
price shape: (387664, 7)
close 2018 shape: (389, 2)

### securities

In [25]:
securities_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 505 entries, 0 to 504
Data columns (total 8 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Ticker symbol            505 non-null    object
 1   Security                 505 non-null    object
 2   SEC filings              505 non-null    object
 3   GICS Sector              505 non-null    object
 4   GICS Sub Industry        505 non-null    object
 5   Address of Headquarters  505 non-null    object
 6   Date first added         307 non-null    object
 7   CIK                      505 non-null    int64
dtypes: int64(1), object(7)
memory usage: 31.7+ KB

In [26]:
securities_df.head(10)

,Ticker symbol,Security,SEC filings,GICS Sector,GICS Sub Industry,Address of Headquarters,Date first added,CIK
0,MMM,3M Company,reports,Industrials,Industrial Conglomerates,"St. Paul, Minnesota",NaN,66740
1,ABT,Abbott Laboratories,reports,Health Care,Health Care Equipment,"North Chicago, Illinois",3/31/1964,1800
2,ABBV,AbbVie,reports,Health Care,Pharmaceuticals,"North Chicago, Illinois",12/31/2012,1551152
3,ACN,Accenture plc,reports,Information Technology,IT Consulting & Other Services,"Dublin, Ireland",7/6/2011,1467373
4,ATVI,Activision Blizzard,reports,Information Technology,Home Entertainment Software,"Santa Monica, California",8/31/2015,718877
5,AYI,Acuity Brands Inc,reports,Industrials,Electrical Components & Equipment,"Atlanta, Georgia",5/3/2016,1144215
6,ADBE,Adobe Systems Inc,reports,Information Technology,Application Software,"San Jose, California",5/5/1997,796343
7,AAP,Advance Auto Parts,reports,Consumer Discretionary,Automotive Retail,"Roanoke, Virginia",7/9/2015,1158449
8,AES,AES Corp,reports,Utilities,Independent Power Producers & Energy Traders,"Arlington, Virginia",NaN,874761
9,AET,Aetna Inc,reports,Health Care,Managed Health Care,"Hartford, Connecticut",6/30/1976,1122304

In [27]:
# Remove all stocks that are not in 2018 data.
securities_df = securities_df[securities_df['Ticker symbol'].isin(symbols_fundamentals)]
securities_df.shape

(389, 8)

In [28]:
securities_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 389 entries, 0 to 504
Data columns (total 8 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Ticker symbol            389 non-null    object
 1   Security                 389 non-null    object
 2   SEC filings              389 non-null    object
 3   GICS Sector              389 non-null    object
 4   GICS Sub Industry        389 non-null    object
 5   Address of Headquarters  389 non-null    object
 6   Date first added         233 non-null    object
 7   CIK                      389 non-null    int64
dtypes: int64(1), object(7)
memory usage: 27.4+ KB

In [29]:
securities_df['SEC filings'].unique()

array(['reports'], dtype=object)

In [30]:
# Drop unneeded columns
'''
Drop Reasons:
    Security: Not useful to train the model.
    SEC filings: All the same value.
    Date first added: Too much missing data.
    Address of Headquarters: Not useful to train the model.
    CIK: Unique ID for the SEC. Not useful to train the model.
'''
securities_df.drop(columns=['Security', 'SEC filings', 'Date first added', 'Address of Headquarters', 'CIK'], inplace=True)
securities_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 389 entries, 0 to 504
Data columns (total 3 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Ticker symbol      389 non-null    object
 1   GICS Sector        389 non-null    object
 2   GICS Sub Industry  389 non-null    object
dtypes: object(3)
memory usage: 12.2+ KB

## Wrangle the Data
### Categorize Top Performing Stocks

In [32]:
close_2015_df = price_df[['symbol','close']][price_df['date'] == '12/31/2015']
close_2015_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 389 entries, 724892 to 725389
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   symbol  389 non-null    object
 1   close   389 non-null    float64
dtypes: float64(1), object(1)
memory usage: 9.1+ KB

In [33]:
close_join_df = close_2018_df.merge(close_2015_df, how='left', left_on='Symbol', right_on='symbol')
close_join_df['2015 Close'] = close_join_df['close']
close_join_df.drop(['symbol', 'close'], axis=1, inplace=True)
close_join_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 389 entries, 0 to 388
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Symbol      389 non-null    object
 1   2018 Close  389 non-null    float64
 2   2015 Close  389 non-null    float64
dtypes: float64(2), object(1)
memory usage: 9.2+ KB

In [34]:
# Function to calculate the compound annual growth rate (CAGR).
# Ref: https://www.fe.training/free-resources/accounting/annualized-growth/
def calculate_cagr(beginning: int | float, ending: int | float, periods: int) -> float:
    return round(pow((ending / beginning), (1/ periods)) - 1, 3)

# Test the function answer should be 0.158
print(calculate_cagr(300, 540, 4))

0.158

In [35]:
close_join_df['CAGR'] = close_join_df[['2015 Close', '2018 Close']].apply(
    lambda row: calculate_cagr(row['2015 Close'], row['2018 Close'], 3), axis=1)
close_join_df.sort_values('CAGR', ascending=False).head()

    Symbol  2018 Close  2015 Close   CAGR
376    WYN      407.50   72.650002  0.777
30    ANTM      740.00  139.440002  0.744
79     COG       83.00   17.690001  0.674
178   IDXX      186.02   72.919998  0.366
6     ADBE      226.24   93.940002  0.340

In [36]:
# Calculate which stocks are in the 95th percentile for CAGR
cagr_percentile_cutoff = np.percentile(close_join_df['CAGR'], 95)
print(type(cagr_percentile_cutoff))
print(cagr_percentile_cutoff)

<class 'numpy.float64'>
0.238

In [37]:
top_symbols = close_join_df['Symbol'][close_join_df['CAGR'] >= cagr_percentile_cutoff]
print(type(top_symbols))
print(top_symbols)

<class 'pandas.core.series.Series'>
6      ADBE
10     ADSK
30     ANTM
43       BA
52      BSX
72      CME
79      COG
81      COO
95       DE
178    IDXX
182    INTU
216      MA
242      MU
247     NEM
248    NFLX
253    NTAP
261     OKE
275     PGR
289    PYPL
348     UNH
376     WYN
Name: Symbol, dtype: object

In [38]:
close_join_df['95th Percentile'] = close_join_df['Symbol'].isin(top_symbols.values)
close_join_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 389 entries, 0 to 388
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Symbol           389 non-null    object
 1   2018 Close       389 non-null    float64
 2   2015 Close       389 non-null    float64
 3   CAGR             389 non-null    float64
 4   95th Percentile  389 non-null    bool
dtypes: bool(1), float64(3), object(1)
memory usage: 12.7+ KB

In [39]:
close_join_df['Symbol'][close_join_df['95th Percentile'] == True].count()

21

### Calculate Growth per Year for 2013 - 2015

In [40]:
# Write a function to calculate growth for the a given year
def calculate_growth(df: pd.DataFrame, 
                    date_column: str,
                    price_column: str,
                    year: int,
                    symbol_column: str = 'symbol') -> pd.DataFrame:
    year_df = df[(df[date_column] >= f'01/01/{year}') & (df[date_column] <= f'12/31/{year}')]
    min_date = year_df[date_column].min()
    max_date = year_df[date_column].max()
    output_df = pd.DataFrame(columns=['symbol'])
    output_df = year_df[[symbol_column, price_column]][year_df[date_column] == min_date]
    output_df['start'] = output_df[price_column]
    output_df.drop([price_column], axis=1, inplace=True)
    output_df = output_df.merge(year_df[[symbol_column, price_column]][year_df[date_column] == max_date],
        how='left', left_on='symbol', right_on=symbol_column)
    output_df['end'] = output_df[price_column]
    output_df.drop([price_column], axis=1, inplace=True)
    output_df[f'{year} growth'] = output_df.apply(lambda row: (row['end'] - row['start']) / row['start'], axis=1)
    output_df.drop(['start', 'end'], axis=1, inplace=True)
    return output_df

In [41]:
# Test function above.
test = calculate_growth(price_df, 'date', 'close', 2013)
print(type(test))
print(f"Row count: {test['symbol'].count()}")
print(test.head())
del(test)

<class 'pandas.core.frame.DataFrame'>
Row count: 378
  symbol  2013 growth
0    AAL     0.806152
1    AAP     0.526831
2   AAPL     0.021839
3   ABBV     0.503702
4    ABC     0.616693

**Note**  
>Not all stocks will have a value for 2013 growth. May need to treat the null values in this column for the ML models. Useful to keep the stocks with a null as that most likely means they were listed for the first time in 2013.

In [42]:
# Start final DataFrame
final_df = close_join_df[['Symbol', '95th Percentile']]
final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 389 entries, 0 to 388
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Symbol           389 non-null    object
 1   95th Percentile  389 non-null    bool
dtypes: bool(1), object(1)
memory usage: 3.5+ KB

In [43]:
# 2013
growth_2013_df = calculate_growth(price_df, 'date', 'close', 2013)
final_df = final_df.merge(growth_2013_df, how='left', left_on='Symbol', right_on='symbol')
final_df.drop(['symbol'], axis=1, inplace=True)
# 2014
growth_2014_df = calculate_growth(price_df, 'date', 'close', 2014)
final_df = final_df.merge(growth_2014_df, how='left', left_on='Symbol', right_on='symbol')
final_df.drop(['symbol'], axis=1, inplace=True)
# 2015
growth_2015_df = calculate_growth(price_df, 'date', 'close', 2015)
final_df = final_df.merge(growth_2015_df, how='left', left_on='Symbol', right_on='symbol')
final_df.drop(['symbol'], axis=1, inplace=True)

final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 389 entries, 0 to 388
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Symbol           389 non-null    object
 1   95th Percentile  389 non-null    bool
 2   2013 growth      378 non-null    float64
 3   2014 growth      382 non-null    float64
 4   2015 growth      386 non-null    float64
dtypes: bool(1), float64(3), object(1)
memory usage: 12.7+ KB

In [44]:
# TODO Aggregate the fundamentals value into a single row per stock.
# TODO I'm thinking of creating a df per year. Merge those into the final_df with a prefix for the year.
# 2013
fundamentals_2013_df = fundamentals_df[
    (fundamentals_df['Period Ending'] >= '1/1/2013') & (fundamentals_df['Period Ending'] <= '12/31/2013')]
# 2014
fundamentals_2014_df = fundamentals_df[
    (fundamentals_df['Period Ending'] >= '1/1/2014') & (fundamentals_df['Period Ending'] <= '12/31/2014')]
# 2015
fundamentals_2015_df = fundamentals_df[
    (fundamentals_df['Period Ending'] >= '1/1/2015') & (fundamentals_df['Period Ending'] <= '12/31/2015')]

print(f'2013 shape: {fundamentals_2013_df.shape}')
print(f'2014 shape: {fundamentals_2014_df.shape}')
print(f'2015 shape: {fundamentals_2015_df.shape}')

2013 shape: (383, 78)
2014 shape: (380, 78)
2015 shape: (387, 78)